.about {
  overflow: hidden;
  min-height: calc(100vh - 30px);
  p {
    margin-right: 1rem;
  }
  figure {
    display: flex;
    &>img {
      @include box-shadow;
      width: 200px;
      height: 15%;
      object-fit: cover;
      margin-right: 0.4rem
    }
  }
}