.animated-switch {
  position: relative;
  &>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1 !important;
  }
}

.slide-up {
  animation: 0.5s 1 slideup;
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1 !important;
  }
}

.slide-down {
  animation: 0.5s 1 slidedown;
}

@keyframes slidefromleft {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1 !important;
  }
}

.slide-from-left {
  animation: 0.5s 1 slidefromleft;
}

@keyframes slidefromright {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1 !important;
  }
}

.slide-from-right {
  animation: 0.5s 1 slidefromright;
}