@media (max-width: 730px) {
  section:not(.about) {
    figure {
      flex-direction: column;
      &>figcaption {
        order: 1;
      }
    }
  }
  .projects {
    figcaption {
      width: 100%;
      padding: 0;
    }
    figure {
      &:nth-of-type(2n) {
        figcaption {
          padding: 0;
        }
      }
    }
  }
  .projects__project-images {
    width: 100%;
    margin-bottom: 0rem;
  }
}

@media (max-width: 650px) {
  .about {
    figure>img {
      display: none;
    }
    p {
      margin: 0;
    }
  }
  .contact {
    img {
      display: none;
    }
    form {
      width: 100%;
    }
  }
}

@media (max-width: 420px) {
  header.header__alt {
    .header__logo {
      width: 85px;
    }
    .header__title {
      font-size: 28px;
      top: 15px;
    }
    nav {
      font-size: 14px;
      top: -50px;
    }
    &::before {
      height: 60px;
    }
    &::after {
      top: 60px;
    }
    section {
      padding-top: calc(60px + 3.75rem);
    }
  } 
}