body {
  font-family: $font--body;
}

.wrapper {
  @include wrapper
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 0.7rem;
}

figure {
  margin: 0;
}

section {
  padding: calc(75px + 3.75rem) 0 3rem 0;
  * {
    transition: opacity 0.5s;
  }
  &.projects {
    figure {
      opacity: 0;
      &.fade-in {
        p {
          animation: 0.5s 1 slideup;
        }
        h2 {
          animation: 0.5s 1 slidefromleft;
        }
        .projects__project-images {
          animation: 0.5s 1 slidefromright;
        }
        .skills {
          animation: 0.5s 1 slidedown;
        }
      }
      &:nth-of-type(2n) {
        &.fade-in {
          h2 {
            animation: 0.5s 1 slidefromright;
          }
          .projects__project-images {
            animation: 0.5s 1 slidefromleft;
          }
        }
      }
    }
  }
  h1 {
    animation: 0.5s 1 slidedown;
  }
}

.section__h1 {
  @include box-shadow;
  ;
  font-size: 1rem;
  font-family: $font--headings;
  display: inline-block;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  margin: 0 0 1.75rem 0;
  background: $color--accent;
}

.subheading {
  font-size: 1rem;
  font-family: $font--body;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0;
}

.skills {
  flex-wrap: wrap;
  margin-left: -0.6rem;
  img {
    margin-top: 0.75rem;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
  }

}