header {
  @include flex-center;
  flex-direction: column;
  height: calc(100vh - 30px - 3rem);
  width: 100%;
  min-height: calc(400px - 3rem);
  margin: 1.5rem 0;
  &.header__alt {
    position: fixed;
    margin: 0;
    height: 75px;
    min-height: auto;
    background: $color--main;
    .header__logo {
      width: 100px;
      top: 10px;
    }
    .header__title {
      font-size: 36px;
      top: 100px;
      margin: 0 0 0 auto;
    }
    .header__subtitle {
      display: none;
    }
  }
  z-index: 1;
  position: relative;
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 75px;
    height: 75px;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.71) 75%, rgba(255, 255, 255, 0) 100%);
  }
}

.header__title {
  text-align: right;
  font-family: $font--headings;
  font-weight: 700;
  margin: 0;
  left: 0;
  bottom: 0;
  position: relative;
}

.header__subtitle {
  font-family: $font--body;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 0 0 1rem;
}

.header__logo {
  position: relative;
  right: 0.5rem;
  top: -0.5rem;
  width: 50vw;
}

nav {
  margin: 1rem 0;
  li {
    font-family: $font--body;
    font-weight: 700;
    &:nth-child(2) {
      &::before,
      &::after {
        content: ' / ';
        white-space: pre;
      }
    }
  }
  a {
    position: relative;
    &::before {
      transition: 0.3s;
      content: '';
      position: absolute;
      bottom: -0.2rem;
      left: 50%;
      width: 0;
      border-bottom: 0.1rem solid black;
    }
    &:active {
      text-decoration: underline;
    }
    &:hover::before {
      left: 0;
      width: 100%;
    }
  }
}