header {
  height: calc(100vh - 30px - 3rem);
  width: 100%;
  min-height: calc(400px - 3rem);
  margin: 1.5rem 0;
  transition: all 0.5s;
  span {
    position: relative;
    left: calc(50% - 100px - 0.5rem);
    transition: all 0.5s;
  }
  &.header__alt {
    position: fixed;
    margin: 0;
    height: 75px;
    min-height: auto;
    .header__title {
      top: 25px;
      width: 100%;
    }
    .header__subtitle {
      opacity: 0;
    }
    span {
      left: 0%;
    }
    .header__logo {
      top: -20px;
      width: 100px;
      cursor: pointer;
    }
    nav {
      @include wrapper;
      top: 40px;
      margin: 0rem;
    }
    &::before {
      height: 75px;
    }
  }
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 75px;
    left: 0;
    height: 75px;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.71) 75%, rgba(255, 255, 255, 0) 100%);
  }
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
    background: $color--main;
    transition: all 0.5s;
  }
}

.header__title {
  @include wrapper;
  position: relative;
  width: 194px;
  text-align: right;
  font-family: $font--headings;
  font-weight: 700;
  font-size: 32px;
  left: 0;
  top: 45px;
  transition: all 0.5s;
}

.header__subtitle {
  font-family: $font--body;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  display: inline-block;
  position: absolute;
  top: 65px;
  left: calc(50% - 76px);
  transition: opacity 0.5s;
}

.header__logo {
  position: absolute;
  top: 80px;
  width: 200px;
  z-index: 2;
  transition: top 0.5s, width 0.5s;
}

nav {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  width: calc(50% + 114px);
  top: 310px;
  font-size: 18px;
  transition: all 0.5s;
  margin: 1rem 0;
  li {
    font-family: $font--body;
    font-weight: 700;
    &:nth-child(2) {
      &::before,
      &::after {
        content: ' / ';
        white-space: pre;
      }
    }
  }
  a {
    position: relative;
    &::before {
      transition: 0.3s;
      content: '';
      position: absolute;
      bottom: -0.2rem;
      left: 50%;
      width: 0;
      border-bottom: 0.1rem solid black;
    }
    &:active {
      text-decoration: underline;
    }
    &:hover::before {
      left: 0;
      width: 100%;
    }
  }
}