.projects {
  overflow: hidden;
  figure {
    display: flex;
    margin-bottom: 3rem;
    &:nth-of-type(2n) {
      figcaption {
        order: 2;
        padding: 0 0 0 2rem;
        text-align: right;
      }
      .skills {
        justify-content: flex-end;
      }
    }
  }
  figcaption {
    width: calc(100% - 15.4rem);
    padding: 0 2rem 0 0;
  }
}

.projects__project-images {
  // @include box-shadow;
  width: 15rem;
  height: 15rem;
  // margin-right: 0.4rem;
  // background:#e6e6e6;
  img {
    max-width: 100%;
  }
}
.projects__heading {
  font-family: $font--headings;
  margin: 0 0 1rem 0;
  text-transform: capitalize;
}

.projects__project-url {
  font-size: 0.8rem;
  font-weight: 700;
  color: $color--main;
  text-decoration: underline;
}