$color--main: #43c0ff;
$color--accent: #ffff00;
$font--headings: 'Lora', serif;
$font--body: 'Open Sans', sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0.4rem 0.4rem black;
  border: 0.15rem solid black;
}

@mixin wrapper {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  margin: 0 auto;
}